:root {
    --background: #fafafa;
    --dark: #3d3d3d;
    --light: #fafafa;
    --white: #ffffff;
    --black: #000000;
    --primary: #00d64f;
    --secondary: #8f95b2;
    --error: #ff707e;
    --off-white: #f6f6f6;
    --primary-boxshadow: rgba(100, 249, 133, 0.4);
}