.campaigns {
  width: 100%;
  height: 100%;
  .section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 90px;
    &:last-child {
      margin-bottom: 0px;
    }
    .section-header {
      border-bottom: 1px solid var(--secondary);
      padding: 20px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        font-family: TerminaDemi;
        font-size: 20px;
        line-height: 24px;
        color: var(--secondary);
      }
    }
    .section-cards {
      display: flex;
      align-items: center;
      gap: 40px;
      flex-wrap: wrap;
      .card-body {
        padding: 16px 20px 24px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        .days {
          width: 100%;
          text-align: end;
          color: var(--secondary);
          font-size: 14px;
          line-height: 18px;
          font-family: MontserratMedium;
        }
        .posts {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          .number-of-posts {
            font-family: TerminaBold;
            font-size: 80px;
            line-height: 96px;
            color: var(--light);
          }
          .posts-label {
            font-size: 14px;
            line-height: 18px;
            font-family: MontserratMedium;
            &.saved {
              color: var(--secondary);
            }
            &.complete {
              color: var(--dark);
            }
          }
        }
        .media {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
        }
      }
      .card-footer {
        border-top: 1px solid var(--secondary);
        padding: 16px 0;
        width: 100%;
        text-align: center;
        font-family: TerminaDemi;
        font-size: 16px;
        line-height: 20px;
        &.saved {
          color: var(--light);
        }
        &.complete {
          color: var(--dark);
        }
      }
      .view-all-button {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        .icon {
          cursor: pointer;
        }
        .label {
          font-family: TerminaDemi;
          font-size: 16px;
          line-height: 20px;
          color: var(--secondary);
        }
      }
    }
  }
}
